# 2022 Data Cleaning

In [2]:
import pandas as pd
pd.options.display.max_columns = 150
pd.options.display.max_rows = 50

In [14]:
## Some column names are different for each year.
# We are going to read them separately, them select only the columns that we are going to need for the analysis.
# The rename the columns to match them for all the years.

## Columns of interest
* Country, Education, Languages worked with, Languages want to work with, Developer Type, Salary, SalaryType, Currency, Employment.

In [20]:
## 2022 Data
df_2022 = pd.read_csv("../Data/RawData/2022/survey_results_public.csv", low_memory=True)
df_2022.iloc[2:4, :]

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0

In [21]:
cols_of_interest2022 = ["Employment", "EdLevel", "DevType", "Country", "Currency", "CompTotal", "CompFreq", "LanguageHaveWorkedWith", "LanguageWantToWorkWith"]
df_2022 = df_2022[cols_of_interest2022]
df_2022.head()

,Employment,EdLevel,DevType,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Employed, full-time",NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript
2,"Employed, full-time","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Data scientist or machine learning specialist;...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript
3,"Employed, full-time","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Developer, full-stack",Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript
4,"Employed, full-time","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Developer, front-end;Developer, full-stack;Dev...",United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript

In [22]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Employment              71709 non-null  object
 1   EdLevel                 71571 non-null  object
 2   DevType                 61302 non-null  object
 3   Country                 71771 non-null  object
 4   Currency                51264 non-null  object
 5   CompTotal               38422 non-null  float64
 6   CompFreq                44425 non-null  object
 7   LanguageHaveWorkedWith  70975 non-null  object
 8   LanguageWantToWorkWith  67027 non-null  object
dtypes: float64(1), object(8)
memory usage: 5.0+ MB

## Clean Each column

### Extract the Education Level
* From the EdLevel column, we want only the level of education reached e.g Bachelor's Degree, Master's Degree etc.

In [23]:
df_2022["EdLevel"] = df_2022["EdLevel"].str.split("(").str[0]

In [24]:
df_2022["EdLevel"].value_counts()

Bachelor’s degree                                         30276
Master’s degree                                           15486
Some college/university study without earning a degree     9326
Secondary school                                           7904
Associate degree                                           2236
Other doctoral degree                                      2169
Primary/elementary school                                  1806
Something else                                             1247
Professional degree                                        1121
Name: EdLevel, dtype: int64

### Convert the DevType column to a list.

In [25]:
df_2022["DevType"] = df_2022["DevType"].str.split(",")
df_2022.head()

,Employment,EdLevel,DevType,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Employed, full-time",NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript
2,"Employed, full-time",Master’s degree,[Data scientist or machine learning specialist...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript
3,"Employed, full-time",Bachelor’s degree,"[Developer, full-stack]",Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript
4,"Employed, full-time",Bachelor’s degree,"[Developer, front-end;Developer, full-stack;...",United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript

### Get the Country currency.
* Extract the currency for each country from the currency column.

In [32]:
df_2022["Currency"] = df_2022["Currency"].str.replace("\t", "-").str.split("-").str[0]
df_2022.head()

,Employment,EdLevel,DevType,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Employed, full-time",NaN,NaN,Canada,CAD,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript
2,"Employed, full-time",Master’s degree,[Data scientist or machine learning specialist...,United Kingdom of Great Britain and Northern I...,GBP,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript
3,"Employed, full-time",Bachelor’s degree,"[Developer, full-stack]",Israel,ILS,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript
4,"Employed, full-time",Bachelor’s degree,"[Developer, front-end;Developer, full-stack;...",United States of America,USD,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript

### Convert LanguageHaveWorkedWith & LanguageWantToWorkWith to list

In [39]:
def convert(x):
    try:
        lst = x.split(";")
    except AttributeError:
        pass
    else:
        return lst

In [40]:
df_2022["LanguageHaveWorkedWith"] = df_2022["LanguageHaveWorkedWith"].apply(convert)
df_2022["LanguageWantToWorkWith"] = df_2022["LanguageWantToWorkWith"].apply(convert)
df_2022.head()

,Employment,EdLevel,DevType,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1,"Employed, full-time",NaN,NaN,Canada,CAD,NaN,NaN,"[JavaScript, TypeScript]","[Rust, TypeScript]"
2,"Employed, full-time",Master’s degree,[Data scientist or machine learning specialist...,United Kingdom of Great Britain and Northern I...,GBP,32000.0,Yearly,"[C#, C++, HTML/CSS, JavaScript, Python]","[C#, C++, HTML/CSS, JavaScript, TypeScript]"
3,"Employed, full-time",Bachelor’s degree,"[Developer, full-stack]",Israel,ILS,60000.0,Monthly,"[C#, JavaScript, SQL, TypeScript]","[C#, SQL, TypeScript]"
4,"Employed, full-time",Bachelor’s degree,"[Developer, front-end;Developer, full-stack;...",United States of America,USD,NaN,NaN,"[C#, HTML/CSS, JavaScript, SQL, Swift, TypeScr...","[C#, Elixir, F#, Go, JavaScript, Rust, TypeScr..."

### Missing Values

In [41]:
df_2022.isnull().sum()

Employment                 1559
EdLevel                    1697
DevType                   11966
Country                    1497
Currency                  22004
CompTotal                 34846
CompFreq                  28843
LanguageHaveWorkedWith     2293
LanguageWantToWorkWith     6241
dtype: int64

In [42]:
df_2022.shape

(73268, 9)